.experience {
	max-inline-size: 328px;
	margin: auto;
	padding-top: 2.5rem;
	text-align: center;
}

.experience p {
	margin: 0;
	padding-bottom: 1.5rem;
}

.experience p:nth-of-type(1) {
	font: var(--headline5);
	font-weight: 400;
}

.experience p:nth-of-type(2) {
	font: var(--headline5);
}

.experience img {
	width: 5rem;
	height: 5rem;
	display: inline-block;
}

@media screen and (min-width: 768px) {
	.experience {
		max-inline-size: 900px;
		padding-block-start: 12.5rem;
		padding-block-end: 12.5rem;
	}
}
