.btn-icon {
	border-radius: 0.25rem;
	padding: 0.6rem;
	border: 2px solid var(--purple);
	background: var(--white);
	text-decoration: none;
	display: inline-block;
}

.btn-icon {
	vertical-align: middle;
}
